	/*    Media  */
/* $sml: "only screen and (min-width : 360px)"; mobile */
$med: "only screen and (min-width : 768px)"; /* tablet */
$lrg: "only screen and (min-width : 1024px)"; /* laptop */
$xlrg: "only screen and (min-width : 1400px)"; /* desktop */

/* color */
$text: hsla(0, 0%, 23%, 1);
$header: #1676DD;